/* 
**
**  Sumário 
**
**  1.0 Reset
**  2.0 Header
**      2.1 Top Header
**      2.2 Bot Header
**  3.0 Slider
**      3.1 Image
**      3.2 Markers
**  4.0 Footer
*/



/*
**
**      ##         #####      ########  ########  ######  ######## ######## 
**    ####        ##   ##     ##     ## ##       ##    ## ##          ##    
**      ##       ##     ##    ##     ## ##       ##       ##          ##    
**      ##       ##     ##    ########  ######    ######  ######      ##    
**      ##       ##     ##    ##   ##   ##             ## ##          ##    
**      ##   ###  ##   ##     ##    ##  ##       ##    ## ##          ##    
**    ###### ###   #####      ##     ## ########  ######  ########    ##    
**
** 1.0 Reset
**
*/

*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
    background-color: #333333;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.container{
    width: 100%;
    max-width: 930px;
    display: block;
    margin: 0 auto;
}

/*
**
**    #######        #####      ##     ## ########    ###    ########  ######## ########  
**   ##     ##      ##   ##     ##     ## ##         ## ##   ##     ## ##       ##     ## 
**          ##     ##     ##    ##     ## ##        ##   ##  ##     ## ##       ##     ## 
**    #######      ##     ##    ######### ######   ##     ## ##     ## ######   ########  
**   ##            ##     ##    ##     ## ##       ######### ##     ## ##       ##   ##   
**   ##        ###  ##   ##     ##     ## ##       ##     ## ##     ## ##       ##    ##  
**   ######### ###   #####      ##     ## ######## ##     ## ########  ######## ##     ## 
**
** 2.0 Header
**
*/

/*
** 2.1 Top Header
*/

.top-header{
    background-color: #54c5d0;
    width: 100%;
    display: block;
    overflow: hidden;
}

.top-header img{
    width: 20px;
    height: 20px;
}

.top-header-content{
    font-weight: 0,75em;
    display: inline-flex;
    align-items: center;
    float: right;
}

.social-icons{
    margin-left: 10px;
    display: inline-flex;
}

.social-icons a{
    padding: 5px 2px;
    width: 20px;
    height: 20px;
}

.social-icons a img:hover{
    filter: brightness(0) invert(1);
}

.flags-icons{
    margin-left: 20px;
    height: 30px;
    display: inline-flex;
}

.flags-icons a{
    width: 20px;
    height: 20px;
    padding: 5px;
    opacity: 0.5;
    border-right: 1px solid #287880;
}

.flags-icons a:nth-child(1){
    border-left: 1px solid #287880;
}

.flags-icons a:hover{
    opacity: 1;
    background-color: #287880;
}


/*
** 2.2 Bot Header
*/

.bot-header{
    background-color: #333333;
    min-height: 65px;
    z-index: -1;
    box-shadow: inset 0px -2px 0px 0px rgba(69,69,69,1);
    border-bottom: 1px solid #1f1a17;
}

#logo{
    position: relative;
    z-index: 100;
    float: left;
}

.img-logo{
    position: absolute;
    top: -5px;
    z-index: 5;
}

.back-logo{
    position: absolute;
    left: -165px;
    top: -10px;
}

nav{
    float: right;
    overflow: hidden;
    z-index: 100;
}

nav ul{
    display: inline-flex;
}

nav ul li{
    padding: 25px 18px;
    border-left: 1px solid #1f1a17;
    box-shadow: inset 1px 0px 0px 0px rgba(69,69,69,1);
    position: relative;
}

nav ul li:nth-child(1){
    border: none;
    box-shadow: none;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

.arrow{
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: none;
}

.active-arrow{
    display: block;
}


/*
**
**    #######        #####       ######  ##       #### ########  ######## ########  
**   ##     ##      ##   ##     ##    ## ##        ##  ##     ## ##       ##     ## 
**          ##     ##     ##    ##       ##        ##  ##     ## ##       ##     ## 
**    #######      ##     ##     ######  ##        ##  ##     ## ######   ########  
**          ##     ##     ##          ## ##        ##  ##     ## ##       ##   ##   
**   ##     ## ###  ##   ##     ##    ## ##        ##  ##     ## ##       ##    ##  
**    #######  ###   #####       ######  ######## #### ########  ######## ##     ## 
**
** 3.0 Slider
**
** 3.1 Image
**
*/

.slider{
    position: relative;
    width: 100vw;
    height: 70vh;
    background: url('../media/img/borda.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.image-slider img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-slider{
    height: 100%;
}

.grade-img{
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-slider{
    width: 100%;
    height: 100%;
}

.mask-img{
    -webkit-mask-image: url('../media/img/base.png');
    -webkit-mask-size: 101% 99%;
    -webkit-mask-position-x: -2px;
    -webkit-mask-repeat: no-repeat;

} 

.text-img{
    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px 50px 0 0;
    color: #ffffff;
}

.text-img p{
    margin: 10% 15% 0;
    padding-bottom: 10%;
    font-size: 2em;
    border-bottom: 1px solid #54c5d0;
}

.text-img strong{
    color: #54c5d0;    
}

.button-arrow{
    position: absolute;
    right: 15%;
    padding: 5px 15px;
    background-color: #54c5d0;
    border-radius: 0 0 50px 50px;
    cursor: pointer;
}

.button-arrow img{
    width: 10px;
    height: 15px;
}

.content-simb{
    position: relative;
}

.simbolo{
    position: absolute;
    width: 30%;
    z-index: -5;
    transform: translateY(-60%);
    right: 0;
    opacity: 0.3;
}

/*
** 3.2 Markers
*/

.markers{
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: inline-flex;
    height: 100px;
    cursor: pointer;
}

.mark{
    margin-right: 10px;
    width: 18px;
    height: 20px;
    padding: 20px 5px 0;
    background-color: #ffffff;
    border-radius: 0 0 50% 50%;
    text-align: center;
    color: #ffffff;
}

.mark:hover{
    background-color: #54c5d0;
    transition: 1s;
    padding-top: 30px;
}

.active {
    display: block;
    background-color: #54c5d0;
    padding-top: 30px;
}

.mark:nth-child(2){
    margin-top: 10px;
}

.mark:nth-child(3){
    margin-top: 20px;
}

.mark:nth-child(4){
    margin-top: 30px;
}

.mark:nth-child(5){
    margin-top: 40px;
}

/*
**
**   ##              #####      ########  #######   #######  ######## ######## ########  
**   ##    ##       ##   ##     ##       ##     ## ##     ##    ##    ##       ##     ## 
**   ##    ##      ##     ##    ##       ##     ## ##     ##    ##    ##       ##     ## 
**   ##    ##      ##     ##    ######   ##     ## ##     ##    ##    ######   ########  
**   #########     ##     ##    ##       ##     ## ##     ##    ##    ##       ##   ##   
**         ##  ###  ##   ##     ##       ##     ## ##     ##    ##    ##       ##    ##  
**         ##  ###   #####      ##        #######   #######     ##    ######## ##     ## 
**   
** 4.0 footer 
**
*/

footer{
    height: 140px;
    margin-top: auto;
    border-top: 1px solid #1f1a17;
    box-shadow: inset 0px 0px 0px 1px rgba(69,69,69,1);
    z-index: -6;
}

.footer-container{
    position: relative;
    height: 100%;
}

footer p{
    width: 500px;
    color: #ffffff;
}

.contact{
    width: 550px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo-internit{
    position: absolute;
    top: 30%;
    right: 0;
}

.address{
    height: 100%;  
    margin-bottom: 20px;
    position: relative;
}

.address img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.address p{
    margin-left: 30px;
}

.email{
    height: 100%;  
    position: relative;
}

.email img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.email p{
    margin-left: 30px;
}